:root {
  --primary: #F7C249;
  --secondary: #444444;
}

/* Global */
html {
  height: 100%;
  font-size: 67.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Montserrat';
  color: var(--secondary);
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (min-width: 550px){
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 2rem;
  }
}

/* Classes */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

/* Home */

main {
  padding: 20px;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-height: 500px) {
  main {
    max-width: 400px;
  }
}

img.logo {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
