:root {
  --primary: #F7C249;
  --secondary: #444444;
}

html {
  height: 100%;
  font-size: 67.5%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6, span {
  font-family: 'Montserrat';
  color: var(--secondary);
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

main img {
  max-height: 60%;
  max-width: 100%;
  width: auto;
  height: auto;
}

main h1 {
  text-transform: uppercase;
  font-size: 5rem;
  width: 100%;
  text-align: center;
}
main h2 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.wrapper {
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
